#about-raquel {
    header {
        .image-wrap {
            margin-top: 0;
            max-width: 500px;

            img {
                width: 100%;
            }
        }
        
    }

    .flex-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    
        &.row-reverse {
            flex-direction: row-reverse;
            align-items: flex-end; 
        }
    }
  

    .page-title {
        font-size: 5rem;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        color: #18A49B;
        text-align: left;
        letter-spacing: -1px;
        padding-left: 8px;
    }

    main {
        .meet-raquel {
            width: 50%;
            margin-left: auto;
        }
    }

    .headshot-2 {
        max-width: 200px;
    }

    .section-title {
        font-family: "Montserrat", sans-serif;
        // text-transform: uppercase;
        // color: #18A49B;
        text-align: left;
        letter-spacing: -1px;
    }

    h1, h2, h3, h4, p {
        text-align: left;
    }

    p {
        padding: 0;
    }
}
